# NFC Reader Configuration
# Copy this file to .env and fill in your values

# Your website URL (where the scan page is)
WEBSITE_URL=https://nfc-card-scan-gezd.vercel.app/

# Terminal ID (get this from your dashboard)
TERMINAL_ID=15
TERMINAL_SECRET=b631aa47-76cc-4d92-a599-f3d37f2b646e


JWT_SECRET=1d9f16676e0356773862c4805d1532ada04f0806bfa517fe7e32397c55667348
NODE_ENV=development
ALLOW_AUTO_ADMIN=true

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zdirmkypfxuamjbdkwhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkaXJta3lwZnh1YW1qYmRrd2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNTM4MTQsImV4cCI6MjA4MTcyOTgxNH0.DNNXzOUhP6OeXQRrwq1cVXUwGVXQYJLy8BpuAa6KY9M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkaXJta3lwZnh1YW1qYmRrd2hiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE1MzgxNCwiZXhwIjoyMDgxNzI5ODE0fQ.CORI1-tLzRPgdqVYxY_HX6eGDasc0l8s9muSS-eGIuk




CRON_SECRET=b631aa47-76cc-4d92-a599-f3d37f2b646e1356989-dhgdghd